body {
  font-family: helvetica, sans-serif;
  font-size: 130%;
}

input {

  padding: 5px 5px 12px 5px;
  font-size: 25px;
  border-radius: 5px;
  border: 1px solid grey;
  width: 300px;
}

label {
  position: relative;
  top: 12px;
  width: 200px;
  float: left;
}

#wrapper {
  width: 550px;
  margin: 0 auto;
}

.form-element {
  margin-bottom: 10px;
}

#submitButton {
  width: 130px;
  margin-left: 200px;
}

#errorMessage {
  color: red;
  font-size: 90%;
}

#successMessage {
  color: green;
  font-size: 90%;
  display: none;
  margin-bottom: 20px;
}

.feedback {
  height: 30px;
  margin-left: 200px;
}

.negative {
  color: red;
}

.positive {
  color: green;
}

input:invalid {
  border: #cc0000 solid 2px;
  box-shadow: 0 0 5px #cc0000;
  outline: none;
}

input:focus {
  border: #008ae6 solid 2px;
  box-shadow: 0 0 5px #008ae6;
  outline: none;
}
